<div
  class="login-theme min-h-screen flex items-center justify-center bg-cover bg-center"
>
  <form
    [formGroup]="form"
    (ngSubmit)="login()"
    class="wrapper backdrop-blur-md shadow-lg"
  >
    <h2 class="text-2xl font-medium capitalize pb-10 pt-3">boostech System</h2>
    <!-- Account info -->
    <div
      *ngFor="let user of users"
      class="rounded-xl backdrop-blur-md shadow-lg w-[380px] h-[90px]"
    >
      <div *ngIf="user.token.length != 0" class="flex flex-col items-center">
        <img
          [src]="
            user.avatar ? user.avatar : '../../../../assets/images/avatar.png'
          "
          [alt]="user.name"
          class="w-[52px] h-[52px] rounded-full mt-[6px]"
        />
        <p class="capitalize pt-1 min-w-[99px] min-h-[18px]">{{ user.name }}</p>
      </div>
    </div>
    <!-- Password validation -->
    <mat-form-field appearance="fill" class="my-5">
      <mat-icon class="text-black" matPrefix svgIcon="lock"></mat-icon>
      <input
        matInput
        [type]="hide() ? 'password' : 'text'"
        formControlName="password"
        placeholder="Enter password"
        required
      />
      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="clickEvent($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()"
      >
        <mat-icon class="text-black">{{
          hide() ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      <mat-error class="min-h-2" *ngIf="form.controls.password.errors">
        <ng-container *ngIf="form.controls.password.errors['required']">
          Password is required.
        </ng-container>
        <ng-container *ngIf="form.controls.password.errors['minlength']">
          Password must have at least 8 letters.
        </ng-container>
      </mat-error>
    </mat-form-field>

    <button id="button" type="submit">Login</button>

    <a href="" class="text-center text-[0.85rem] py-3"
      >Login with another accounts ?</a
    >
  </form>
</div>
